# env / secrets
.env
src/.env

# dependencies
/vendor/
/src/vendor/

# logs
/storage/logs/*
*.log

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# docker local data
db_data/
docker-compose.override.yml

# cache / temp
/tmp/
/cache/

# composer
composer.phar

# node
node_modules/